/**
 * CSS3 stylesheet for www.paulhitz.com.
 *
 * @author Paul Hitz
 * @version 100112
 */


section {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
section span.decorative {
    border-radius: 10px;
}
#companyLogo {
    border-radius: 10px;
}
footer img:hover {
    transition: all 2s ease-in-out;
    transform: rotate(360deg) scale(1.25);
}
