/**
 * Default stylesheet for www.paulhitz.com
 */

html {
    background-color: #91aa9d;
}

body {
    background: linear-gradient(#3e606f, #91aa9d);
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: justify;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #222222;
    background-image: url(../images/clouds.png);
    background-repeat: repeat-x;
    border-width: 10px 0;
    border-color: #373737;
    border-style: solid;
    margin: 0;
    padding: 0;
}
header div {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#logo {
    display: block;
    border: 0;
    height: 80px;
    margin: 10px auto 0 auto;
}
#photo {
    display: none;
    float: right;
    width: 256px;
    height: 192px;
    margin-top: -30px;
    padding: 36px 24px 28px 37px;
    background-image: url(../images/photos/templates/template.png);
    background-repeat: no-repeat;
}

section {
    display: block;
    background-color: #b0c1b8;
    margin: 0 10px 10px 10px;
    padding: 10px 20px 0 20px;
    border-width: 10px;
    border-top-width: 0;
    border-color: #373737;
    border-style: solid;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    line-height: 1.5em;
    font-size: medium;
}
section span.decorative {
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;
    float: left;
    font-family: "Times New Roman", serif;
    font-size: 5em;
    color: #373737;
    line-height: 75%;
    border-width: 2px;
    border-style: solid;
    border-color: #373737;
}

article {
    font-size: small;
}

footer {
    display: block;
    width: 51px;
    margin-right: auto;
    margin-left: auto;
}
footer img:hover {
    transition: all 2s ease-in-out;
    transform: rotate(360deg) scale(1.25);
}
#html5-image {
    width: 51px;
    height: 51px;
    border: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
    text-decoration: underline;
}

abbr[title] {
    text-decoration: underline dotted;
    border-bottom: 0;
    cursor: help;
    text-decoration-skip-ink: none;
}

/* MEDIA QUERIES */


/* Extra Small (E.g. Portrait Phones) */
@media screen and (max-width: 360px) {
    #logo {
        width: 100%;
    }
}

/* Small (E.g. Landscape Phones) */
@media screen and (max-width: 759px) {
    #photo {
        display: none !important;
    }
}

/* Medium (E.g. Laptops, Desktops, Tablets etc.) */
@media screen and (min-width: 760px) {
    header {
        height: 170px;
    }

    header div {
        width: 750px;
    }

    #logo {
        display: inline;
        width: 355px;
        margin-left: 60px;
        margin-top: 50px;
    }

    section {
        max-width: 600px;
        padding-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large (E.g. Wide Screen Laptops/Desktops) */
@media screen and (min-width: 1824px) {
    header div {
        width: 800px;
    }

    section {
        max-width: 900px;
    }
}
